*.DS_Store
XManager.xcodeproj/project.xcworkspace/xcuserdata/demo.xcuserdatad/UserInterfaceState.xcuserstate
XManager.xcodeproj/project.xcworkspace/xcuserdata/demo.xcuserdatad/UserInterfaceState.xcuserstate