<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ActiveTab</key>
	<string>Right</string>
	<key>MainWindow</key>
	<dict>
		<key>ActivePanel</key>
		<string>Right</string>
		<key>LeftPanel</key>
		<dict>
			<key>SelectedTab</key>
			<integer>0</integer>
			<key>Tabs</key>
			<array>
				<dict>
					<key>Order</key>
					<integer>1</integer>
					<key>Path</key>
					<string>/</string>
				</dict>
			</array>
		</dict>
		<key>RightPanel</key>
		<dict>
			<key>SelectedTab</key>
			<integer>0</integer>
			<key>Tabs</key>
			<array>
				<dict>
					<key>Order</key>
					<integer>2</integer>
					<key>Path</key>
					<string>/Users</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
